.container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin: 0 auto;
    align-items: center;
    padding: 1rem;
    background-size: cover;
    background-position: center;
}

.main-btn {
    margin-inline: 10px;
    padding: 5px 10px;
    font-size: 1.4rem;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main-btn:hover {
    background-color: #e65c00;
    /* Hover effect */
}

.score {
    font-size: 1.6rem;
    position: absolute;
    margin-top: 80px;
    margin-left: -200px;
    color: #ff6600;
}

.level {
    font-size: 1.6rem;
    position: absolute;
    margin-top: 120px;
    margin-left: -200px;
    color: #ff6600;
}

/* Hangman Body Parts */
.hangman-head {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 10px solid #ff6600;
    position: absolute;
    top: 50px;
    right: -30px;
}

.hangman-body {
    width: 10px;
    height: 100px;
    background: #ff6600;
    position: absolute;
    top: 120px;
    right: 0;
}

.hangman-right-arm {
    width: 100px;
    height: 10px;
    background: #ff6600;
    position: absolute;
    top: 150px;
    right: -100px;
    rotate: -30deg;
    transform-origin: left bottom;
}

.hangman-left-arm {
    width: 100px;
    height: 10px;
    background: #ff6600;
    position: absolute;
    top: 150px;
    right: 10px;
    rotate: 30deg;
    transform-origin: right bottom;
}

.hangman-right-leg {
    width: 100px;
    height: 10px;
    background: #ff6600;
    position: absolute;
    top: 210px;
    right: -90px;
    rotate: 60deg;
    transform-origin: left bottom;
}

.hangman-left-leg {
    width: 100px;
    height: 10px;
    background: #ff6600;
    position: absolute;
    top: 210px;
    right: 0;
    rotate: -60deg;
    transform-origin: right bottom;
}

/* Hangman Frame */
.hangman-vertical-pole {
    height: 50px;
    width: 10px;
    background: #ff6600;
    position: absolute;
    top: 0;
    right: 0;
}

.hangman-top-pole {
    height: 10px;
    width: 120px;
    background: #ff6600;
    margin-left: 120px;
}

.hangman-main-pole {
    height: 300px;
    width: 10px;
    background: #ff6600;
    margin-left: 120px;
}

.hangman-base {
    height: 10px;
    width: 250px;
    background: #ff6600;
}

$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: (
);
$box-shadow2: (
);

@for $i from 0 through $particles {
    $box-shadow: $box-shadow,
        random($width)-$width / 2 + px random($height)-$height / 1.2 + px hsl(random(360), 100, 50);
    $box-shadow2: $box-shadow2, 0 0 #fff
}

@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}

body {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
}

.pyro>.before,
.pyro>.after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: $box-shadow2;
    @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}

.pyro>.after {
    @include animation-delay((1.25s, 1.25s, 1.25s));
    @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
    to {
        box-shadow: $box-shadow;
    }
}

@include keyframes(gravity) {
    to {
        @include transform(translateY(200px));
        opacity: 0;
    }
}

@include keyframes(position) {

    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%
    }

    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}